/* 重置默认样式 */
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* 红色提示信息颜色 */
.red {
  color: #A94442;
}
html,body{
  height: 100%;
  background-color: #222D32;

}

/*侧边栏*/
.lt_aside{
  width: 180px;
  height: 100%;
  background-color: #222D32;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  z-index:666;
transition:all 1s;

}
/*侧边栏隐藏*/
.lt_aside.hidemenu{
  left:-180px;
}
.brand{
  height: 50px;
  font-size: 25px;
  line-height: 50px;
  color: #fff;
  background-color: #367FA9;


}

/*侧边栏下拉菜单部分*/
 .slideDown{
  display:none;
}
.user{
  margin-top: 15px;
  height: 180px;
}
.user img{
  width: 80px;
  height: 80px;
  border-radius:50%;
}
.user p{
  font-size: 20px;
  color: #fff;
  margin-top: 5px;
}
.nav a{
  display:block;
  height: 40px;
  line-height: 40px;
  color: #fff;
}
.nav a.current{
  border-left:3px solid #006699;
  background-color: #1D1F21;
}
/*.current{*/
  /*border-left:3px solid #006699;*/
  /*background-color: #1D1F21;*/
/*}*/

/*头部*/
.lt_main{
  /*padding-left: 180px;*/
  background: #ffffff;;
  height: 100%;
 }
.lt_header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #367FA9;
  padding-left: 180px;
  transition:all 1s;
}
.lt_header.hidemenu{
  padding-left:0;
}
.breadcrumb{
  margin-top: 20px;
  transition:all 1s;
}
.breadcrumb.hidemenu{
  transform:translateX(-180px);
}
.lt_header a{
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 55px;

}
.lt_header i{
  color: #fff;
  font-size: 20px;

}
.lt_content{
  padding-left: 180px;
  padding-top: 50px;
}

/*登录界面*/

.panel .panel-heading {
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  padding: 0;
  text-align: center;
}
.mt_150{
  margin-top: 150px;
}
.mb_20{
  margin-bottom: 20px;
}
/*主体部分*/
.lt_content .EChart_1 {
  height: 400px;
  width: 48%;
}
.lt_content .EChart_2{
  height: 400px;
  width: 48%;
}
/* 让所有的 th 和 td 都水平垂直居中 */
.table.table-bordered th,
.table.table-bordered td {
  text-align: center;
  /* 注意: 表格内容垂直居中 */
  vertical-align: middle;
}






